<div class="shadow-md p-2 mb-4">
    <div class="flex justify-between mx-4 p-2">
        <div class="flex gap-4 items-center font-sans">
            <svg-icon src="../../assets/branch-type.svg" [svgStyle]="{'width.px': 40, 'fill': '#000'}"/>
            Nexus Limited, Zone 3 Abuja
        </div>
        <div class="flex items-center gap-4 text-blue font-semibold text-[20px] font-sans">
            Nexus Limited
            <svg-icon src="../../assets/angle-down.svg" [svgStyle]="{'width.px':20}" />
        </div>
        <div class="flex gap-10 items-center">
            <div *ngFor="let icon of HeaderIcons">
                <div class="bg-border/10 p-2 rounded">
                    <svg-icon src={{icon.iconType}} [svgStyle]="{'width.px': 24}"></svg-icon>
                </div>
            </div>
            <div class="flex gap-5">
            <div class="bg-border/40 p-2 rounded">
                <svg-icon src="../../assets/user-light.svg" [svgStyle]="{'width.px': 24,'fill': 'white'}"></svg-icon>
            </div>
                <div class="space-y-2">
                    <div class="flex items-center gap-2 text-blue  font-semibold font-sans">
                       Bello Taofeek
                        <svg-icon src="../../assets/angle-down.svg" [svgStyle]="{'width.px':15, 'fill': '#071342'}" />
                    </div>
                   <p class="text-border font-sans">Administrator</p>
                </div>
            </div>
        </div>
    </div>
</div>